@using QandA.Web.Helpers;
@model QandA.Web.Models.QuestionsIndexViewModel

@{
    ViewBag.Title = "Index";
}
<table>
@foreach (var item in Model.Questions) {
    <tr>
        <td>
            @Html.ActionLink(item.Desc, "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>
<p>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
</p>
