@using QandA.Web.Helpers;
@model QandA.Web.Models.QuestionsIndexViewModel

@{
    ViewBag.Title = "Index";
}
<div id="results">        
        @foreach (var item in Model.Questions) {
            
            <section class="result-part">
                @Html.ActionLink(item.Desc, "Details", new { id=item.Id })
            </section>
        }
</div>
<p>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
</p>
