@model IEnumerable<QandA.Core.Domain.Question>

@{
    ViewBag.Title = "Index";
}
<table>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Desc, "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>
